{
  "_comment_1": "Template de configuração do Cypress. Copie para cypress.env.json e ajuste.",
  "_comment_2": "O arquivo cypress.env.json NUNCA vai para o Git (já está no .gitignore).",
  "_comment_3": "Uso: Copy-Item cypress.env.json.example cypress.env.json",

  "baseUrl": "https://automationpratice.com.br",
  "fixtureFile": "cenarios.json"
}